# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environments
.venv/
env/
venv/

# Jupyter Notebooks (if any)
.ipynb_checkpoints

# OS Files
.DS_Store
.idea/
# Model outputs
models/
models/base_model/
models/fine_tuned_model/
spider_dataset/
spider_dataset/train
spider_dataset/validation
gretel_dataset/
gretel_dataset/test/
gretel_dataset/train/


# Dataset
data/
data/gretel_filtered/
data/gretel_filtered_small/
data/wikisql/
data/train_real.json
data/val_real.json

# Logs
*.log

# Huggingface cache (optional)
.cache/
huggingface/

# Misc
*.safetensors
*.bin